# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/katalon-demo/Data Files/
/katalon-demo/Profiles/
/katalon-demo/Libs/internal/GlobalVariable.groovy
/katalon-demo/Libs/TempTestCase*.groovy
/katalon-demo/Reports
/katalon-demo/settings/internal/com.kms.katalon.integration.analytics.properties
/katalon-demo/settings/internal/com.kms.katalon.integration.jira.properties